@import 'base';
.container {
    @extend .flex-column-center;
    height: 100%;
    margin-top: 32px;
}

.card {
    width: 60%;
}

.actions {
    margin-top: 32px;
    text-align: right;
    padding-right: 0px;
}

