@import 'base';
.container {
    @extend .flex-column-center;
    background-image: url("https://source.unsplash.com/random/1280x1024");
    background-size: cover;
    background-color: rgba( 0, 0, 0, 0.80);
    background-blend-mode: darken;
    height: 100%;
    div {
        height: 100%;
    }
    .particles {
        @extend .flex-row-center;
        height: 100% !important;
    }
}