@import 'base';
.container {
    background-image: url("https://source.unsplash.com/random/1280x1024");
    background-size: cover;
    background-color: rgba( 0, 0, 0, 0.80);
    background-blend-mode: darken;  
    height: 100%;
}


.center{
    @extend .flex-column-center;
}
.children{
    bottom: 0px;
    position: static
}

// border-style: solid;
// border-color: #ff0000 #0000ff;

 // #root > div > div > div > div > div:nth-child(1){
    //     height: 100%;
    // }
    // #root > div > div > div > div > div:nth-child(1) > canvas{
    //     height: 100%;
    // }
